name: Publish

on:
  workflow_dispatch:

  push:
    branches:
    - 'master'

jobs:
  deploy:
    name: Build Documentation
    runs-on: ubuntu-latest
    steps:
      - name: Set up python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install sphinx sphinx-rtd-theme
      - name: Checkout polytope-docs
        uses: actions/checkout@v2
        with:
          token: ${{ secrets.ECMWF_REPO_ACCESS }}
          path: ./polytope-docs
      - name: Make docs
        run: |
          pip install -r ./polytope-docs/requirements.txt
          cd ./polytope-docs/source
          python -m sphinx -T -E -b html -d _build/doctrees -D language=en . _build/html
          curl -X POST -d "token=${{ secrets.READTHEDOCS_TOKEN }}" -d "branches=master" ${{ secrets.READTHEDOCS_API }}
